In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('titanic_dataset  (1).csv')

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
data.shape

(891, 12)

In [6]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**null value detection**

In [8]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**filling null values**

In [9]:
data['Age']=data['Age'].fillna(data['Age'].median())
data['Cabin'].fillna('U',inplace= True)
data['Embarked']=data['Embarked'].fillna(method='ffill')

In [10]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

**Encoding the object values present in the corresponding columns**

In [11]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [12]:
data= data.drop('Name',axis=1)
data= data.drop('Ticket',axis=1)
data= data.drop('Embarked',axis=1)
data= data.drop('Pclass',axis=1)
data= data.drop('Parch',axis=1)

In [13]:
data

     PassengerId  Survived     Sex   Age  SibSp     Fare Cabin
0              1         0    male  22.0      1   7.2500     U
1              2         1  female  38.0      1  71.2833   C85
2              3         1  female  26.0      0   7.9250     U
3              4         1  female  35.0      1  53.1000  C123
4              5         0    male  35.0      0   8.0500     U
..           ...       ...     ...   ...    ...      ...   ...
886          887         0    male  27.0      0  13.0000     U
887          888         1  female  19.0      0  30.0000   B42
888          889         0  female  28.0      1  23.4500     U
889          890         1    male  26.0      0  30.0000  C148
890          891         0    male  32.0      0   7.7500     U

[891 rows x 7 columns]

In [14]:
col=[ 'Sex','Cabin']
for i in col:
  data[i]=le.fit_transform(data[i])

**checking for outlier detection**

In [15]:
columns_to_check = ['PassengerId', 'Survived','Sex', 'Age', 'SibSp',
       'Fare', 'Cabin', ]

for column in columns_to_check:
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]

    print(f"Outliers for {column}: {len(outliers)}")

Outliers for PassengerId: 0
Outliers for Survived: 0
Outliers for Sex: 0
Outliers for Age: 66
Outliers for SibSp: 46
Outliers for Fare: 116
Outliers for Cabin: 204

In [16]:
q1=np.percentile(data['Age'],25,method='midpoint')
q2=np.percentile(data['Age'],50,method='midpoint')
q3=np.percentile(data['Age'],75,method='midpoint')

IQR =q3-q1
low_lim = q1- 1.5*IQR
upper_lim=q3+ 1.5*IQR
print('lower limit is ',low_lim)
print('upper limit is ',upper_lim)


outlier=[]
for x in data['Age']:
  if(x>upper_lim)or(x<low_lim):
    outlier.append(x)

print(outlier)

lower limit is  2.5
upper limit is  54.5
[2.0, 58.0, 55.0, 2.0, 66.0, 65.0, 0.83, 59.0, 71.0, 70.5, 2.0, 55.5, 1.0, 61.0, 1.0, 56.0, 1.0, 58.0, 2.0, 59.0, 62.0, 58.0, 63.0, 65.0, 2.0, 0.92, 61.0, 2.0, 60.0, 1.0, 1.0, 64.0, 65.0, 56.0, 0.75, 2.0, 63.0, 58.0, 55.0, 71.0, 2.0, 64.0, 62.0, 62.0, 60.0, 61.0, 57.0, 80.0, 2.0, 0.75, 56.0, 58.0, 70.0, 60.0, 60.0, 70.0, 0.67, 57.0, 1.0, 0.42, 2.0, 1.0, 62.0, 0.83, 74.0, 56.0]

In [17]:
ind_age=data['Age']<low_lim
inds_age1=data.loc[ind_age].index
print('lower limit values are ',inds_age1)


ind_age2=  data['Age']>upper_bound
inds_age3= data.loc[ind_age2].index
print('upper limit values are ',inds_age3)

lower limit values are  Int64Index([  7,  16,  78, 119, 164, 172, 183, 205, 297, 305, 340, 381, 386,
            469, 479, 530, 642, 644, 755, 788, 803, 824, 827, 831],
           dtype='int64')
upper limit values are  Int64Index([], dtype='int64')

In [18]:
data.drop(inds_age1,inplace=True)

In [19]:
ind_age=data['Age']<low_lim
inds_age1=data.loc[ind_age].index
print('lower limit values are ',inds_age1)


ind_age2=  data['Age']>upper_bound
inds_age3= data.loc[ind_age2].index
print('upper limit values are ',inds_age3)

lower limit values are  Int64Index([], dtype='int64')
upper limit values are  Int64Index([], dtype='int64')

In [20]:
q1=np.percentile(data['Cabin'],25,method='midpoint')
q2=np.percentile(data['Cabin'],50,method='midpoint')
q3=np.percentile(data['Cabin'],75,method='midpoint')

IQR =q3-q1
low_lim = q1- 1.5*IQR
upper_lim=q3+ 1.5*IQR
print('lower limit is ',low_lim)
print('upper limit is ',upper_lim)

lower limit is  147.0
upper limit is  147.0

In [21]:
ind_Cabin=data['Cabin']<low_lim
inds_Cabin1=data.loc[ind_Cabin].index
print(inds_Cabin1)



ind_Cabin2=  data['Cabin']>upper_bound
inds_Cabin3= data.loc[ind_Cabin2].index
print(inds_Cabin3)

Int64Index([  1,   3,   6,  10,  11,  21,  23,  27,  31,  52,
            ...
            849, 853, 857, 862, 867, 871, 872, 879, 887, 889],
           dtype='int64', length=199)
Int64Index([], dtype='int64')

In [22]:
data.drop(inds_Cabin1,inplace=True)

In [23]:
ind_Cabin=data['Cabin']<low_lim
inds_Cabin1=data.loc[ind_Cabin].index
print(inds_Cabin1)

Int64Index([], dtype='int64')

In [24]:
q1=np.percentile(data['Fare'],25,method='midpoint')
q2=np.percentile(data['Fare'],50,method='midpoint')
q3=np.percentile(data['Fare'],75,method='midpoint')

IQR =q3-q1
low_lim = q1- 1.5*IQR
upper_lim=q3+ 1.5*IQR
print('lower limit is ',low_lim)
print('upper limit is ',upper_lim)

lower limit is  -14.026975
upper limit is  44.322824999999995

In [25]:
ind_far=data['Fare']<low_lim
inds_fare=data.loc[ind_far].index
print(inds_fare)



ind_far1=  data['Fare']>upper_bound
inds_fare1= data.loc[ind_far1].index
print(inds_fare1)

Int64Index([], dtype='int64')
Int64Index([258, 380, 557, 708, 856], dtype='int64')

In [26]:
data.drop(inds_fare1,inplace=True)

In [27]:
ind_far1=  data['Fare']>upper_bound
inds_fare1= data.loc[ind_far1].index
print(inds_fare1)

Int64Index([], dtype='int64')

In [28]:
q1=np.percentile(data['SibSp'],25,method='midpoint')
q2=np.percentile(data['SibSp'],50,method='midpoint')
q3=np.percentile(data['SibSp'],75,method='midpoint')

IQR =q3-q1
low_lim = q1- 1.5*IQR
upper_lim=q3+ 1.5*IQR
print('lower limit is ',low_lim)
print('upper limit is ',upper_lim)

lower limit is  -1.5
upper limit is  2.5

In [29]:
ind_sib=data['SibSp']<low_lim
inds_sibsp=data.loc[ind_sib].index
print(inds_sibsp)







ind_sib1=  data['SibSp']>upper_bound
inds_sib2= data.loc[ind_sib1].index
print(inds_sib2)

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [30]:
print(f"Outliers for {column}: {len(outliers)}")

Outliers for Cabin: 204

In [31]:
columns_to_check = ['PassengerId', 'Survived','Sex', 'Age', 'SibSp',
       'Fare', 'Cabin', ]

for column in columns_to_check:
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]

    print(f"Outliers for {column}: {len(outliers)}")

Outliers for PassengerId: 0
Outliers for Survived: 0
Outliers for Sex: 0
Outliers for Age: 60
Outliers for SibSp: 36
Outliers for Fare: 45
Outliers for Cabin: 0

In [32]:
X = data.drop('Survived', axis=1)
y = data['Survived']
X = pd.get_dummies(X)

In [39]:
X=pd.DataFrame(X)

**Scaling**

In [47]:
from sklearn.preprocessing import MinMaxScaler
features_to_scale = ['Age', 'Fare']
scaler = MinMaxScaler()
data[features_to_scale] = scaler.fit_transform(data[features_to_scale])

X_scaled = scaler.fit_transform(X)

In [60]:
X_scaled.shape

(663, 6)

In [48]:
data

     PassengerId  Survived  Sex       Age  SibSp      Fare  Cabin
0              1         0    1  0.267606      1  0.053453    147
2              3         1    0  0.323944      0  0.058430    147
4              5         0    1  0.450704      0  0.059351    147
5              6         0    1  0.352113      0  0.062362    147
8              9         1    0  0.338028      0  0.082084    147
..           ...       ...  ...       ...    ...       ...    ...
884          885         0    1  0.309859      0  0.051978    147
885          886         0    0  0.507042      0  0.214733    147
886          887         0    1  0.338028      0  0.095847    147
888          889         0    0  0.352113      1  0.172893    147
890          891         0    1  0.408451      0  0.057139    147

[663 rows x 7 columns]

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**Create kNN and SVM models**

In [62]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

classifiers = {
    "SVM": SVC(),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    }


results = {}
for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    results[name] = score

for name, score in results.items():
    print(f"{name}: {score}")

SVM: 0.6766917293233082
K-Nearest Neighbors: 0.6917293233082706

**k-fold and stratified k fold**

In [63]:
from sklearn.model_selection import cross_val_score, StratifiedKFold, KFold
k_fold = KFold(n_splits=5, shuffle=True, random_state=42)
stratified_k_fold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

**Calculate the average accuracy score for each model**

In [65]:
knn_model = KNeighborsClassifier(n_neighbors=5)
svm_model = SVC(kernel='linear')
knn_scores = cross_val_score(knn_model, X, y, cv=k_fold, scoring='accuracy')
svm_scores = cross_val_score(svm_model, X, y, cv=stratified_k_fold, scoring='accuracy')

In [54]:
print("Average kNN Accuracy:", knn_scores.mean())
print("Average SVM Accuracy:", svm_scores.mean())

Average kNN Accuracy: 0.6561061745272272
Average SVM Accuracy: 0.8069947596263386

In [55]:
knn_stratified_scores = cross_val_score(knn_model, X_scaled, y, cv=stratified_k_fold, scoring='accuracy')
svm_stratified_scores = cross_val_score(svm_model, X_scaled, y, cv=stratified_k_fold, scoring='accuracy')

In [57]:
knn_stratified_scores

array([0.79699248, 0.78947368, 0.80451128, 0.76515152, 0.81818182])

In [66]:
svm_stratified_scores

array([0.78195489, 0.76691729, 0.81203008, 0.78787879, 0.86363636])

In [56]:
print("Average kNN Stratified Accuracy:", knn_stratified_scores.mean())
print("Average SVM Stratified Accuracy:", svm_stratified_scores.mean())

Average kNN Stratified Accuracy: 0.7948621553884712
Average SVM Stratified Accuracy: 0.8024834814308498