In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [115]:
data=pd.read_csv('titanic_dataset .csv')

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [72]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
data.shape

(891, 12)

In [6]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

####**null value detection**

In [74]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**filling null values**

In [116]:
data['Age']=data['Age'].fillna(data['Age'].median())

In [117]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [118]:
data['Cabin'].fillna('U',inplace= True)

In [119]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [120]:
data['Embarked']=data['Embarked'].fillna(method='ffill')

In [121]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

**Encoding the object values present in the corresponding columns**

In [122]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [84]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [123]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,U,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,U,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,U,Q

In [124]:
data= data.drop('Name',axis=1)
data= data.drop('Ticket',axis=1)
data= data.drop('Embarked',axis=1)
data= data.drop('Pclass',axis=1)

In [139]:
data= data.drop('Parch',axis=1)

In [127]:
col=[ 'Sex','Cabin']

In [128]:
for i in col:
  data[i]=le.fit_transform(data[i])

In [140]:
data

     PassengerId  Survived  Sex   Age  SibSp     Fare  Cabin
0              1         0    1  22.0      1   7.2500  147.0
1              2         1    0  38.0      1  71.2833  147.0
2              3         1    0  26.0      0   7.9250  147.0
3              4         1    0  35.0      1  53.1000  147.0
4              5         0    1  35.0      0   8.0500  147.0
..           ...       ...  ...   ...    ...      ...    ...
886          887         0    1  27.0      0  13.0000  147.0
887          888         1    0  19.0      0  30.0000  147.0
888          889         0    0  28.0      1  23.4500  147.0
889          890         1    1  26.0      0  30.0000  147.0
890          891         0    1  32.0      0   7.7500  147.0

[891 rows x 7 columns]

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Sex          891 non-null    int64
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Fare         891 non-null    float64
 6   Cabin        891 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 48.9 KB

**checking for outlier detection**

In [142]:
columns_to_check = ['PassengerId', 'Survived','Sex', 'Age', 'SibSp',
      'Fare', 'Cabin', ]

for column in columns_to_check:
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]

    print(f"Outliers for {column}: {len(outliers)}")

Outliers for PassengerId: 0
Outliers for Survived: 0
Outliers for Sex: 0
Outliers for Age: 66
Outliers for SibSp: 46
Outliers for Fare: 116
Outliers for Cabin: 0

In [143]:
data[column] = np.where(data[column] < lower_bound, lower_bound, data[column])
data[column] = np.where(data[column] > upper_bound, upper_bound, data[column])

In [144]:
print(f"Outliers for {columns_to_check}: {len(outliers)}")

Outliers for ['PassengerId', 'Survived', 'Sex', 'Age', 'SibSp', 'Fare', 'Cabin']: 0

In [146]:
columns_to_check = ['PassengerId', 'Survived','Sex', 'Age', 'SibSp',
       'Fare', 'Cabin', ]

for column in columns_to_check:
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]

    print(f"Outliers for {column}: {len(outliers)}")

Outliers for PassengerId: 0
Outliers for Survived: 0
Outliers for Sex: 0
Outliers for Age: 66
Outliers for SibSp: 46
Outliers for Fare: 116
Outliers for Cabin: 0

In [147]:
data

     PassengerId  Survived  Sex   Age  SibSp     Fare  Cabin
0              1         0    1  22.0      1   7.2500  147.0
1              2         1    0  38.0      1  71.2833  147.0
2              3         1    0  26.0      0   7.9250  147.0
3              4         1    0  35.0      1  53.1000  147.0
4              5         0    1  35.0      0   8.0500  147.0
..           ...       ...  ...   ...    ...      ...    ...
886          887         0    1  27.0      0  13.0000  147.0
887          888         1    0  19.0      0  30.0000  147.0
888          889         0    0  28.0      1  23.4500  147.0
889          890         1    1  26.0      0  30.0000  147.0
890          891         0    1  32.0      0   7.7500  147.0

[891 rows x 7 columns]

In [148]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [149]:
features = data.drop('Survived', axis=1)
target = data['Survived']

In [150]:
features = pd.get_dummies(features)

In [151]:
data

     PassengerId  Survived  Sex   Age  SibSp     Fare  Cabin
0              1         0    1  22.0      1   7.2500  147.0
1              2         1    0  38.0      1  71.2833  147.0
2              3         1    0  26.0      0   7.9250  147.0
3              4         1    0  35.0      1  53.1000  147.0
4              5         0    1  35.0      0   8.0500  147.0
..           ...       ...  ...   ...    ...      ...    ...
886          887         0    1  27.0      0  13.0000  147.0
887          888         1    0  19.0      0  30.0000  147.0
888          889         0    0  28.0      1  23.4500  147.0
889          890         1    1  26.0      0  30.0000  147.0
890          891         0    1  32.0      0   7.7500  147.0

[891 rows x 7 columns]

In [152]:
X=data.drop('Survived', axis=1)
y=data['Survived']

In [153]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)