<a href="https://colab.research.google.com/github/shyamlalh1/shyam-ict/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#assignment 1
#question no. 1
#program which accepts the radius of a circle from the user and compute the area of a circle
r=float(input('enter the radius of the circle'))
area= 22*r*r/7
print('The area of the circle having radius' , r , 'is', area)

enter the radius of the circle3
The area of the circle having radius 3.0 is 28.285714285714285

In [ ]:
#assignment 1
#question no. 2
#Python Program to accept the details of a student like name, rollnumber and mark and display it.

a=str(input('Enter the name'))
b=int(input('Enter the roll number'))
c=float(input('Enter the mark'))

print('Name    :',a)
print('Roll.no.:' , b)
print('Mark    :', c)

Enter the nameshyam
Enter the roll number59
Enter the mark65.67
Name    : shyam
Roll.no.: 59
Mark    : 65.67

In [ ]:

#assignment 1
#question no. 3
#Python program to get the largest number from a list
numbers_list = [int(num)
for num in input("Enter numbers separated by commas: ").split(',')]
print("Largest number:", max(numbers_list))

Enter numbers separated by commas: 27,83,96,75,42
Largest number: 96

In [ ]:
#assignment 1
#question no. 4
#program to iterate fromstart number to the end number and print the sum of the current number and previous number.
prev_no = 0

for current_no in range(1, 11):
    print(f"Current Number is {current_no} and the Previous Number is {prev_no} Sum: {current_no + prev_no}")
    prev_no = current_no

Current Number is 1 and the Previous Number is 0 Sum: 1
Current Number is 2 and the Previous Number is 1 Sum: 3
Current Number is 3 and the Previous Number is 2 Sum: 5
Current Number is 4 and the Previous Number is 3 Sum: 7
Current Number is 5 and the Previous Number is 4 Sum: 9
Current Number is 6 and the Previous Number is 5 Sum: 11
Current Number is 7 and the Previous Number is 6 Sum: 13
Current Number is 8 and the Previous Number is 7 Sum: 15
Current Number is 9 and the Previous Number is 8 Sum: 17
Current Number is 10 and the Previous Number is 9 Sum: 19

In [ ]:
#assignment 1
#question no. 5
#program to print only those numbers which are divisible of 5.


input_no = input("Enter numbers: ")
numbers = [int(num) for num in input_no.split(',')]

div_by_5 = []
for num in numbers:
    if num % 5 == 0:
        div_by_5.append(num)

if len(div_by_5) > 0:
    print("Numbers divisible by 5:", ", ".join(map(str, div_by_5)))

Enter numbers: 23,72,85,105,28,725,15
Numbers divisible by 5: 85, 105, 725, 15

In [ ]:
#assignment 1
#question no. 6
#Python program to check whether a number is prime or not
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

num = int(input("Enter the number: "))

if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter the number: 27
27 is not a prime number.

In [ ]:
#assignment 1
#question no. 7
#Python program to reverse a list using for loop
input_list = input("Enter elements of the list separated by commas: ").split(',')
reversed_list = [input_list[i] for i in range(len(input_list) - 1, -1, -1)]
print("Reversed list:", ", ".join(reversed_list))

Enter elements of the list separated by commas: 78,92,45,12
Reversed list: 12, 45, 92, 78

In [ ]:
#assignment 1
#question no. 8
#to print the given pattern
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)

print_pattern(7)

*
**
***
****
*****
******
*******

In [ ]:
#assignment 1
#question no. 9
#Python program to find the maximum of three numbers
a = input("Enter three numbers separated by commas: ").split(',')
num1, num2, num3 = map(int, a)

maximum = max(num1, num2, num3)

print("The maximum number is:", maximum)

Enter three numbers separated by commas: 72,16,89
The maximum number is: 89

In [ ]:
#assignment 1
#question no. 10
#Python program to construct the given pattern, using a nested for loop.
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)

    for i in range(rows - 1, 0, -1):
        print('*' * i)

rows = 5
print_pattern(rows)

*
**
***
****
*****
****
***
**
*

In [ ]:
a="abcd"
b="p"
while b in a:
  print(b,end=" ")

In [ ]:
a={1:1,2:'2','1':1,'2':3}
a['1']=2
print(a[a[a[str(a[1])]]])

3

In [ ]:
print(print(print("hello world")))

hello world
None
None

In [ ]:
print(round(8.479))

8

In [ ]:
l=list("ictak kerala")
print(l[8:-1])

['r', 'a', 'l']

In [ ]:
colours=['g' ,'p' ,'r']
print("y" in colours)

False

In [ ]:
l=['a', 'b','c','d', 'e', 'hello', [1,2,3]]
print(l[5])

hello

In [ ]:
d={0: 'a', 1:'b', 2:'c'}
for i in d:
  print(i)

0
1
2

In [ ]:
print(True**False/True*False)

0.0